<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/main.css">
  <title>CARDIFY</title>
</head>

<body>
  <br>
  <div class="back"><a  href="../index.html" type="button">INICIO</a></div>
  <br>
  <h1 class="center "> MARAVILLAS DEL MUNDO</h1>
  <div class="container">
    <img src="../assets/7.gif" alt="ISLA PALAWAN, FILIPINAS ">
    <img src="../assets/8.gif" alt="TORRE EIFEL,PARIS">
    <img src="../assets/9.gif" alt="GRAN BARRERA CORAL, AUSTRALIA ">
    <img src="../assets/1.gif" alt="LAS HIGHLANDS, ESCOCIA ">
    <img src="../assets/3.gif" alt="GEISER STROKKUR,ISLANDIA">
    <img src="../assets/4.gif" alt="AURORA BOREAL,NORUEGA ">
    <img src="../assets/2.gif" alt="LAS DOLOMITAS ,ISLANDIA">
    <img src="../assets/5.gif" alt="CASCADA SELJAL,ISLANDIA ">
    <img src="../assets/6.gif" alt="PLAYA LA POLINESIA">
    <img src="../assets/azul.jpg" alt="EL AGUJERO AZUL,BELICE">
    <img src="../assets/cherry.jpg" alt="CHERRY BLOSSOM LAE,JAPON">
    <img src="../assets/divas.jpg" alt="LAS MALDIVAS,CROACIA">
    <img src="../assets/nieve.jpg" alt="FIORDO DE ILULI,DINAMARCA">
    <img src="../assets/groelandia.jpg" alt="RIOMAGGIORE, ITALIA">
    <img src="../assets/croacia.jpg" alt="LAGO MORAINE, CANADA">
    <img src="../assets/ital.jpg" alt="ALGARVE,PORTUGAL">
    <img src="../assets/luz.jpg" alt="CRISTO REDENTOR,BRASIL">
    <img src="../assets/tag.jpg" alt="TAG MAHALL, INDIA">
  </div>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
  <script type="text/javascript" src="../js/index.js"></script>

</body>

</html>