@import url('https://fonts.googleapis.com/css?family=Cabin');

body {
  background: url('../assets/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.center {
  text-align: center;
}
img {
  display: inline;
  width: 100%;
  height: 200px;
  border-radius: 15px;
  border: 6px double white;
}

figure {
  display: inline-block;
  margin: 2%;
  width: 28%;
  position: relative;
  box-sizing: border-box;
  
}

figure:hover{
  opacity: 0.8;
}

.figcaption-hover {
  color: rgb(253, 253, 253);
  font-size: 25px;
  position: absolute;
  top: 35%;
  font-weight: bold;
  left: 5%; 
  }

.white {
  color: white;
  font-weight: bold;
}

div.back { 
 border-radius: 5px;
 border: 2px solid #1a895d;
 background-color: white;
 height: 30px;
 width: 5%;
 position: relative;
 margin-left: 30px;

}

div.back a {
  color: #1a895d;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
  margin-left: 20%;
  padding-top: 4%;
  position: absolute;
}


